@model ZB_FEPMS.Models.ROLE

@{if (Model.USERS.Count == 0)
{
    <h2><font color="red">No Associated Users...</font></h2>
    <br />
}
else
{
    <table id="UserTable" style="width: 65%">
        <thead>
        <th style="width:90%">
            User
        </th>
        <th>
            Action
        </th>
        </thead>
        @foreach (ZB_FEPMS.Models.USER user in Model.USERS.OrderBy(u => u.Username))
        {
            <tr>
                <td>
                    @Html.ActionLink(user.Username, "UserDetails", new { id = user.UserId })
                </td>
                <td>
                    <center>
                        <a href="@Url.Action("DeleteUser", "Admin", new { id = Model.RoleId, userId = user.UserId })" class="deleteUser" id=@Model.RoleId userid=@user.UserId>
                            <img src="@Url.Content("~/Content/images/bin.png")" />
                        </a>
                    </center>
                </td>
            </tr>
        }
    </table>
    <br />
}}

