@model ZB_FEPMS.Models.tblApplicationAmount

<table id="datatable" class="table table-striped table-bordered">
    <tr>
        <td>
            @Model.Remark
        </td>
    </tr>

</table>


